doctype html
html
   head
      title Protected page
   body
      form(action = "/createRoom" method = "GET")
        button(type = "Submit") Create Room
      div Hey #{id}, How are you doing today?
      div Want to log out?
      div Logout


// login page previous

doctype html
html
   head
      title Signup
   body
      if(message)
         h4 #{message}
      form(action = "/login" method = "POST")
        input(name = "id" type = "text" required placeholder = "User ID")
        input(name = "password" type = "password" required placeholder = "Password")
        button(type = "Submit") Log in