doctype html
html
   head
      title Protected page
   body
      form(action = "/createRoom" method = "GET")
        button(type = "Submit") Create Room
      div Hey #{id}, How are you doing today?
      div Want to log out?
      div Logout