doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script.
      const ROOM_ID = "#{roomId}"
      const USER_ID = "#{userId}"
    script( src='https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js',defer='')
    script(src='/socket.io/socket.io.js', defer='')
    title Document
    style.
      #video-grid {
            /* Define the element as a grid container */
            display: grid;
            /* Auto-fit as many items on a row as possible without going under 180px */
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            /* A little spacing between articles */
            grid-gap: 1em;
            }
      .usertile{
        background-color: gray;
        border-radius: 5px;
      }
      video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      text-align: center;
      }
  body
    #video-grid
    script(src='/loginPublic/vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='/loginPublic/vendor/bootstrap/js/popper.js')
    script(src='/loginPublic/vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='admin.js', type='module')